.main {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  width: 90%;
  min-height: 80vh;
  font-size: 18px;
}

img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: right;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
